In [37]:
#Исследование данных о пассажирах Титаника
from IPython.display import Image # Библиотека для отображения картинок

display(Image(url='https://sib-catholic.ru/wp-content/uploads/2016/05/Screen-Shot-2016-04-21-at-4.22.13-PM.png', 
              width = 1000) # Задаем ширину картинки
       )

# Context / Контекст

In [ ]:
#В рамках данного исследования выполним изучение и анализ представленного датафрейма с целью извлечения 
#"полезной" информации, на первый взгляд не очевидной

In [ ]:
#Предварительное рассмотрение датафрейме средствами платформы kaggle.com, показало, что данные
#представленные в рассматренном датафрейме содержат некоторую информацию о пассажирах печально известного,
#затонувшего корабля "Титаник". Проведем предварительное рассмотрение датафрейма

In [ ]:
#Сформулируем основную задачу исследования: Попытаться выявить наибоолее значимые параметры с точки зрения влияния на
#"выживаемость" в условиях данной и аналогичных катастроф.
#При этом уже сейчас, имея понимание о смысле параметров, можно
#сформулировать несколько гипотез, что позволит наметить план исследования
#Гипотеза 1:

In [1]:
#Импортируем все необходимые для последующего анализа данных библиотеки
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [6]:
#Создадим строковую переменную и присвоим ей путь до файла с анализируемой информацией
path_data = "/Users/kirill/Local_Repository/ml_course_2_data_exploration/train.csv"
#Загрузим данные в блокнот
titanic_data = pd.read_csv(path_data, index_col="PassengerId", parse_dates=True)
#Выведим первые пять строк загруженного датафрейма
titanic_data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
#Выведем последние 5 строк датафрейма (а просто так)
titanic_data.tail()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [25]:
#Выясним количество строк в датафрейме
len(titanic_data)

891

In [26]:
#Выведем заголовки всех столбцов в списке
titanic_data.columns.tolist()

['Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [ ]:
#Судя по всему, индексы датафрейма - пассажиры "Титаника", заголовки - параметры пассажиров
#Survived - параметр информирующий о том, выжил данный пассажир или нет. Категориальная переменная,
#представленная бинарным значением 1 (выжил) и 0 (не выжил)
#Pclass - Класс каюты, в которой данный пассажир числился в круизе
#Name - имя пассажира
#Sex - пол пассажира
#Age - возраст пассажира
#SibSp - количество родствеников на борту у пассажира
#Parch - 
#Ticket - номер билета пассажира
#Fare - стоимость билета пассажира
#Cabin - номер каюты
#Embarked - место отправления(посадки) пассажира?

In [24]:
#Проверим количество строк и столбцов, сравним с ранее полученной инфой
titanic_data.shape

(891, 11)

In [ ]:
#Сформулируем основную задачу исследования: Попытаться выявить наибоолее значимые параметры с точки зрения влияния на
#"выживаемость" в условиях данной и аналогичных катастроф.
#При этом уже сейчас, имея понимание о смысле параметров, можно
#сформулировать несколько гипотез, что позволит наметить план исследования
#Гипотеза 1:

# Data quality assessment / Оценка качества данных

In [27]:
#Выведем и посмотрим полную сводку о составе датафрейма и используемых типах данных
titanic_data.info()
#Видим, что количество элементов в столбцах не одинаковое, что затруднит последующий анализ
#Так же можно предварительно оценить адекватность соотношения "параметр - тип данных"

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

# Data exploration / Исследование данных

In [17]:
sns.lineplot(data=titanic_data)

ValueError: A wide-form input must have only numeric values.

# Summary / Резюме